doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Red Bikers| Actualizar
    link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/styles.css' rel='stylesheet')
    // Leaflet's CSS y JS
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
    //Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')


nav#mainNav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #212529;")
  .container
    a.navbar-brand.js-scroll-trigger(href='/bicicletas#page-top') Red Bikers
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas#mapa') Mapa de bicis
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas/lista') Listado de Bicis
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas/crear') Registrar bicicleta
        //
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas#contact') Contacto

.conainter(style='width:50%; margin:auto; margin-top:25px;')
    h2.text-center Actualizando la bicicleta
    form(action=`/bicicletas/${bike.id}/actualizar` method='post')
      .form-group
          label(for='code') Código:
          input#id.form-control(type='text' name='code' value=bike.code)
      .form-group
          label(for='color') Color:
          input#color.form-control(type='text' name='color' value=bike.color)
      .form-group
          label(for='modelo') Modelo:
          input#modelo.form-control(type='text' name='modelo' value=bike.modelo)
      .form-group
          h4.text-center Ubicación
          label(for='Latitud') Latitud:
          input#latitud.form-control(type='text' name='latitud' value=bike.ubicacion[0])
          label(for='Longitud') Longitud:
          input#longitud.form-control(type='text' name='longitud' value=bike.ubicacion[1])
      .text-center
          button.btn.btn-primary(type='submit') Actualizar

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='/javascripts/scripts.js')
// Map
//script(src='/javascripts/map.js')