doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Red Bikers|Principal
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='/stylesheets/styles.css' rel='stylesheet')
  // Leaflet's CSS y JS
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
  // Make sure you put this AFTER Leaflet's CSS
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  .container
    a.navbar-brand.js-scroll-trigger(href='/bicicletas#page-top') Red Bikers
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#mapa') Mapa de bicis
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas/crear') A&ntilde;adir mi bici
        //
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#contact') Contacto
        li.nav-item
          .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.nombre
            .dropdown-menu(aria-labelledby='dropdownMenuButton' style='font-size:15px')
              a.dropdown-item(href='usuarios/'+user.id+'/update') Ajustes
              a.dropdown-item(href='/logout') Cerrar Sesión


// Masthead
header#page-top.masthead
  .container
    .masthead-subheading Bienvenido a la red de bikers m&aacute;s grande
    .masthead-heading.text-uppercase &iquest;Te gustar&iacute;a ser parte de nosotros?
    a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='/bicicletas/crear') &iexcl;Quiero unirme!
// Mapa de nuestros bikers afiliadas
#mapa
  h1.text-center(style='margin-top: 50px;') Bikers en el mapa
  #mapid
  .d-flex.justify-content-center
    a.btn.btn-primary(href='/bicicletas/lista' style='margin: auto; margin-top: 10px;') Ver la lista.
// Contact
section#contact.page-section(style='margin-top: 60px;')
  .container
    .text-center
      h2.section-heading.text-uppercase Contact Us
      h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    form#contactForm(name='sentMessage' novalidate='novalidate')
      .row.align-items-stretch.mb-5
        .col-md-6
          .form-group
            input#name.form-control(type='text' placeholder='Your Name *' required='required' data-validation-required-message='Please enter your name.')
            p.help-block.text-danger
          .form-group
            input#email.form-control(type='email' placeholder='Your Email *' required='required' data-validation-required-message='Please enter your email address.')
            p.help-block.text-danger
          .form-group.mb-md-0
            input#phone.form-control(type='tel' placeholder='Your Phone *' required='required' data-validation-required-message='Please enter your phone number.')
            p.help-block.text-danger
        .col-md-6
          .form-group.form-group-textarea.mb-md-0
            textarea#message.form-control(placeholder='Your Message *' required='required' data-validation-required-message='Please enter a message.')
            p.help-block.text-danger
      .text-center
        #success
        button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message
// Footer
footer.footer.py-4
  .container
    .row.align-items-center
      .col-lg-4.text-lg-left Copyright &copy; Your Website 2020
      .col-lg-4.my-3.my-lg-0
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-twitter
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-linkedin-in
      .col-lg-4.text-lg-right
        a.mr-3(href='#!') Privacy Policy
        a(href='#!') Terms of Use
// <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='/javascripts/scripts.js')
// Map
script(src='/javascripts/map.js')
