doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Red Bikers
    link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/styles.css' rel='stylesheet')
    // Leaflet's CSS y JS
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
    //Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')

nav#mainNav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #212529;")
  .container
    a.navbar-brand.js-scroll-trigger(href='/bicicletas#page-top') Red Bikers
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas#mapa') Mapa de bicis
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas/crear') A&ntilde;adir mi bici
        //
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/bicicletas#contact') Contacto

.container(style= "padding: 25px; margint-top:90px;")
    h1.text-center Listado de Bicicletas
    .d-flex.justify-content-between.row.row-cols-3
        each bici in bicis
            .card.col(style='width: 18rem;')
                .card-body
                    h5.card-title=bici.code
                    h6.card-subtitle.mb-2.text-muted=bici.color
                    p.card-text=bici.modelo
                    p.card-text=bici.ubicacion
                    a.card-link.btn.btn-success(href=  bici.id + '/actualizar') Editar
                    form.inline(method='post' action= bici.id + '/borrar' style='margin-top:10px;')
                      input(type='hidden' name='id' value=bici.id)
                      button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')= 'Eliminar'

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='/javascripts/scripts.js')
// Map
//script(src='/javascripts/map.js')
