doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Red Bikers|Usuarios
    link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/styles.css' rel='stylesheet')
    // Leaflet's CSS y JS
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
    //Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
block content
    a.btn.btn-success(href='/usuarios/create') Nuevo Usuario

    br
    br
    div.container(style='width:70%')
        h1 Lista de Usuarios
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Email
                    th(scope='col') Verificación
                    th(scope='col')
                    th(scope='col')
            tbody
                each usuario in usuarios
                    tr
                        td(scope='row')= usuario.id
                        td= usuario.nombre
                        td= usuario.email
                        td= usuario.verificado? 'Si':'No'
                        td
                            a.btn.btn-warning(href='usuarios/'+usuario.id+'/update') Editar
                        td
                            form.inline(method='post' action='usuarios/'+usuario.id+'/delete')
                                input(type="hidden" name='id' value=usuario.id)
                                button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value')= 'Eliminar'
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='/javascripts/scripts.js')
// Map
//script(src='/javascripts/map.js')